@model IEnumerable<VehicleTrack.Models.Vehicle>

@section Scripts{
    <script src="~/Scripts/index.js"></script>
}

@{
   // ViewBag.Title = "RuningVehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
       
}

<h2>RuningVehicles</h2>
<h3>@User.Identity.Name</h3>
<h3>@ViewBag.FullName</h3>
<h3>@ViewBag.Address</h3>


<p>
    @Html.ActionLink("Add Vehicle", "NewVehicle")
</p>
<div id="myVehicles">
    <h5 data-bind="visible: connected">Connected to Cars hub</h5>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ApplicationUserID)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {


            <tr>
                <td>
                    <span>@item.Id</span>
                </td>
                <td>
                    <span>@item.VIN</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td>
                    <!-- ko foreach: vehicles -->
                    <!-- ko {if: Id()==@Html.Raw(Json.Encode(item.Id))} -->
                    <div data-bind='text:  Status() == true  ? "Online" : "Offline" '></div>
                    <!-- /ko -->
                    <!-- /ko -->
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ApplicationUserID)
                    </td>*@

            </tr>

        }

    </table>
</div>